@font-face {
    font-family: 'gar';
    src: url('../public/fonts/FuturaLightItalic.ttf');
}
@font-face {
    font-family: 'fut';
    src: url('../public/fonts/FuturaBook.ttf');
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden !important;
}
#circle {
    position: absolute;
    top: 50%;
    left: -85vh;
    transform: translate(0%, -50%) rotate(60deg);
    width: 190vh;
    height: 190vh;
    border-radius: 50%;
    border: 0.08rem solid #555;
}
.stripe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60px;
    transform-origin: 0% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.str1 {
    transform: translate(0%, -50%) rotate(-20deg);
}
.str2 {
    transform: translate(0%, -50%) rotate(-10deg);
}
.str3 {
    transform: translate(0%, -50%) rotate(0deg);
}
.str4 {
    transform: translate(0%, -50%) rotate(10deg);
}
.str5 {
    transform: translate(0%, -50%) rotate(20deg);
}
.first {
    width: 50%;
    height: 100%;
}
.second {
    padding-left: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #f8f8f8;
    opacity: 0.5;
}
.second h4 {
    font-size: 2rem;
    font-family: fut;
}
.second h6 {
    font-size: 0.85rem;
    font-family: gar;
}
#goola {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f8f8f8;
    border: 0.5rem solid #0f0f0f;
}

canvas {
    position: fixed;
    z-index: 9;
    top: 0;
    left: -22.5%;
    width: 100%;
    height: 100%;
}
  
#controllers {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: none;
}
.button {
    border: none;
    background: "#F8F8F8";
    color: #000000;
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    font-family: sans-serif;
    z-index: 99;
} 

#panel {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0,-50%);
    width: 30px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.btn {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.34;
}
@media (max-width: 576px) {
    #panel {
        display: none;
    }
    canvas {
        left: 0;
    }
    #controllers {
        display: block;
    }
    #circle {
        display: none;
    }
}
@media (min-width: 577px) and (max-width: 1200px) {
    #panel {
        display: none;
    }
    canvas {
        left: 0;
    }
    #controllers {
        display: block;
    }
    #circle {
        display: none;
    }
}